@use "./mixins" as *;
@use "./typography" as *;

// style for header

.header {
  height: 100%;
  width: 100%;

  &__hero {
    height: 60vw;
    background-image: url(../../assets/images/hero-bio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  //   Text size: 24px | Line height: 32px | Text weight: Bold 700
  &__txt {
    position: relative;
    z-index: 2;

    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-left: 2.5rem;
  }
}

@include tablet {
  .header {
    &__txt {
      // Text size: 60px | Line height: 68px | Text weight: Bold 700
      font-size: 3.75rem;
      line-height: 4.25rem;
      font-weight: 700;
    }
  }
}

@include desktop {
  .header {
    &__txt {
  
      margin-left: 10%;
  
    }

  }
}
