// ------------------------------------------------------------
// Genral css rulest for reset, and element selectors
// ------------------------------------------------------------
// ------------------------------------------------------------

* {
    box-sizing: border-box;
}

body {
     
    font-family: "Nunito Sans" ,sans-serif;
    font-weight: 400;
    margin: 0;
    background-color: #FAFAFA;
}


a {
    text-decoration: none;
    color: inherit;
}