// ------------------------------------------------------------
// Genral css rulest for reset, and element selectors
// ------------------------------------------------------------
// ------------------------------------------------------------

* {
    box-sizing: border-box;
}

body {
     
    font-family: "Nunito Sans" ,sans-serif;
    margin: 0;
    padding: 0;
}